/*
* Navbar
*/

.navbar-brand{
  margin-right: 4rem;
}

.nav-link{
  margin-right: 2rem;
}
.img-fluid{
  max-width: none;

}
.navbar{
  z-index: 123333333;
}
/*
* carousel
*/
.carouselHome
{
  margin-top: -102px;
  z-index: -1000000;
}
